footer {
	padding: 20px 0;
	background: $cinza;
	@include box-shadow(0 0 0 10px $cinza);
	p {
		color: $bege-claro;
        display: inline;
		@include d(s) {
			text-align: center;
		}
	}
	a img {
		float: right;
        display: inline-block;
		@include d(s) {
            display: block;
			float: none;
			margin: 20px auto;
		}
	}
}